:root {
  --heading-font-color: #e9ceb3;
  --branding-color: #759fd5;
}
body {
  background: #c9e0ff;
}
h1,
h2,
p {
  color: var(--heading-font-color);
  text-shadow: 1px 1px #434343;
}
.logo {
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid var(--heading-font-color);
}
.about-section {
  padding: 90px 10px;
  text-shadow: 1px 1px #434343;
}
.about-section h1 {
  font-size: 64px;
  line-height: 100px;
}
.about-section p {
  font-size: 17px;
  line-height: 2;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 7px;
  color: white;
  font-size: 17px;
  line-height: 27px;
  padding: 10px 8px;
}
.btn-branding:hover {
  background: #5f84b9;
  color: white;
}
.creator-picture {
  transition: all 200ms ease-in-out;
}
.creator-picture:hover {
  filter: contrast(65%);
  transform: scale(1.1);
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: #c9e0ff;
  background: var(--branding-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  .about-section h1 {
    font-size: 40px;
  }
  .about-section h2 {
    font-size: 30px;
  }
  .about-section p {
    font-size: 15px;
  }
  h2 {
    font-size: 44px;
  }
  .about-section {
    text-align: center;
    margin-top: 2;
  }
}
