body {
  background: #c9e0ff;
}
h1 {
  color: #e9ceb3;
}
.logo {
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #e9ceb3;
}
.about-section {
  padding: 90px 10px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  color: #e9ceb3;
}
.about-section p {
  font-size: 18px;
  color: #e9ceb3;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
